Hover:
  ShowAKA: true

CompileFlags:
  Add:
    - --sysroot=/opt/homebrew/opt/llvm
    - -stdlib=libc++
    - -std=c++23
    - -I/opt/homebrew/opt/llvm/include/c++/v1
    - ${env:CPPFLAGS}
    - ${env:LDFLAGS}
Diagnostics:
  UnusedIncludes: Strict
